@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center">
    <h4> Single File Upload </h4>
    <form asp-controllers="Home" asp-actions="SingleFile" enctype="multipart/form-data" method="post">
    <input type="file" name="file"/>
    <button type="submit">Submit</button>
    </form>
</section>

<section class="text-center">
    <h4> Multiple File Uploads </h4>
    <form asp-controllers="Home" asp-actions="SingleFile" enctype="multipart/form-data" method="post">
    <input type="file" name="files" multiple/>
    <button type="submit">Submit</button>
    </form>
</section>